
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(216, 232, 241);
}

header {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 20px;
}

header img {
    max-width: 100px;
    height: auto;
}

main {
    padding: 20px;
}

#journaling-section {
    margin: 150px;
    text-align: center;
}

#journaling-form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #ecf0f1;
    padding: 20px;
    border-radius: 8px;
   
}

#journaling-form label,
#journaling-form textarea {
    display: block;
    margin-bottom: 10px;
}

#journaling-form button {
    background-color: black;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
}

#journaling-form button:nth-child(3) {
    margin-bottom: 1rem;
}

#save {
    margin-bottom: 10px;
    width: 100%;
}

#history {
    width: 100%;
}

/* Navbar */
.HappyMind {
    color: white;
    padding-right:500px;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar {
    background-color: #222;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:flex-start; 
    align-items: center;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
}

.navbar li a:hover {
    background-color: #575757;
    transform: scale(1.1);
}

#journal-entry{
    width: 100%;
}


